<div class="news-scroll-box">
  <div class="news">
    {% if site.data.news %}
      <table class="table table-sm table-borderless">
        {% for item in site.data.news %}
          <tr>
            <th scope="row">{{ item.date | date: '%b, %Y' }}</th>
            <td>
              {% if item.inline %}
                {{ item.content | emojify }}
              {% else %}
                <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>No news so far...</p>
    {% endif %}
  </div>
</div>
